<mat-toolbar *ngIf="successMsg" color="accent">{{ successMsg }}</mat-toolbar>
<mat-toolbar *ngIf="errorMsg" color="warn">{{ errorMsg }}</mat-toolbar>

<div class="form-container" *ngIf="appointment">
    <form (submit)="putAppointment(appointment._id)">
      <mat-form-field>
        <input [(ngModel)]="appointment.appointmentDate" name="appointmentDate" matInput [matDatepicker]="picker" placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input [(ngModel)]="appointment.name" name="name" matInput placeholder="Name">
      </mat-form-field>
      <mat-form-field>
        <input [(ngModel)]="appointment.email" name="email" matInput placeholder="Email" type="email">
      </mat-form-field>
      <button mat-raised-button color="primary">Edit Appointment</button>
    </form>
    <!-- <h2>sadasdadsad</h2> -->
  </div>
